<!DOCTYPE html>
<html>
<head>
  <link href="/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
  table, th, td{
    border: 1px solid black;
    padding: 4px;
    text-align: center;
  }
  </style>
</head>
<body>
  <div class="container">
    <div>&nbsp;</div>
    <a href="/json" class="btn btn-default"> Get json data </a>
    <div>&nbsp;</div>
    <form action='xlsx' enctype="multipart/form-data" method='post'>
     <label>Enter the URL</label><br/>
     <input type="text" name="url"><br/>
     <label>Upload xlsx file</label><br/>
     <input type="file" name="audit_requirement" id="fileToUpload"><br/>
     <input type="submit">
   </form>


   <div class="row">

    <div class="col-sm-3">
      <% if @call_signs_a != nil %>
      <h3>Call sign pressent in JSON but not in xlsx sheet</h3>
      <table class='unstyled'>
        <tr>
          <th>Call sign</th>
          <th>Channels</th>
        </tr>
        <% @call_signs_a.each do |text| %>
        <tr>
          <td><%= text %></td>
          <td><%= @hash_array[text] %></td>
        </tr>
        <% end %>
      </table>
      <% end %>
    </div>

    <div class="col-sm-3">
      <% if @call_signs_b != nil %>

      <h3>Call sign pressent in xlsx sheet but not in JSON</h3>

      <table class='unstyled'>
        <tr>
          <th>Call sign</th>
          <th>Channels</th>
        </tr>
        <% @call_signs_b.each do |text| %>
        <tr>
          <td><%= text %></td>
          <td><%= @xlsx_hash[text] %></td>
        </tr>
        <% end %>
      </table>
      <% end %>

    </div>

  </div>


</div>
</body>
</html>